@import "tailwindcss";

@theme {
	--color-foreground: #ffffff;
	--color-background: #dfe4f7;
	--color-text: #08041b;
	--color-accent: #707070;
}

.main-grid {
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
}

.hero-area {
	grid-area: 1 / 1 / 3 / 3;
}
.education-area {
	grid-area: 1 / 3 / 3 / 4;
}
.portfolio-area {
	grid-area: 1 / 4 / 2 / 5;
}
.hobby-area {
	grid-area: 2 / 4 / 5 / 5;
}
.instagram-area {
	grid-area: 3 / 1 / 6 / 3;
}
.career-area {
	grid-area: 3 / 3 / 5 / 4;
}
.skills-area {
	grid-area: 5 / 3 / 7 / 5;
}
.footer-area {
	grid-area: 6 / 1 / 7 / 3;
}
